using System.Collections.Generic;
using System;
using System.Globalization;

namespace {{ name_space }}
{
    public class DataBuffer
    {
        private static readonly string strN = "{{ table_special_str_n }}";
        private static readonly string strS = "{{ table_special_str_s }}";

        private string data;
        private int index;

        public DataBuffer(string source)
        {
            this.data = source;
            this.index = 0;
        }

        private string ReadRaw()
        {
            int pos = index;
            while (pos < this.data.Length && this.data[pos] != ',')
            {
                pos++;
            }
            string ret = this.data.Substring(index, pos - index);
            index = pos + 1;
            return ret;
        }

        public int ReadInt()
        {
            return int.Parse(ReadRaw(), CultureInfo.InvariantCulture);
        }

        public long ReadLong()
        {
            return long.Parse(ReadRaw(), CultureInfo.InvariantCulture);
        }

        public float ReadFloat()
        {
            return float.Parse(ReadRaw(), CultureInfo.InvariantCulture);
        }

        public double ReadDouble()
        {
            return double.Parse(ReadRaw(), CultureInfo.InvariantCulture);
        }

        public bool ReadBool()
        {
            return ReadRaw().ToLower() == "true";
        }

        public string ReadString()
        {
            return ReadRaw().Replace(strN, "\\n").Replace(strS, ",");
        }

        public T ReadEnum<T>() where T : struct
        {
            string name = ReadString();
            if (Enum.TryParse(name, out T e))
            {
                return e;
            }

            throw new Exception($"invalid enum name for {typeof(T).Name}: {name}");
        }
    }
}
